.weather {
    height: 16.9rem;
    width: 30rem;
    margin: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.5rem;

    .weather__cover {
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
        background-color: black;
        opacity: 0.6;
        z-index: 1;
        position: absolute;
    }
}