.layout {
    min-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 7rem 1fr;
    background-color: rgba(0, 0, 5, 0.02);

    &__main {
        margin: 1rem 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}