.location-search {
    margin: 1.5rem;

    &__input {
        font-size: 1.2rem;
        width: 20rem;
    }

    &__submit {
        font-size: 1.2rem;
        background-color: #6699cc;
        padding: 2px;
        border: none;
    }
}

@media (max-width: 440px) {
    .location-search {
        display: flex;
        flex-direction: column;

        &__input {
            width: 14rem;
        }
    }
}